@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Rubik+Bubbles&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Rubik Bubbles', cursive;

}

body{
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: aqua;
    min-height:100vh;
}
.container{
    position:relative;
    display:flex;
    /* background-color: blue; */
    align-items: center;
}
.drop{
    position:relative;
    width:390px;  /* 350px*/
    height:390px;
    box-shadow:inset 20px 20px 20px rgba(0,0,0,0.05)
    ,25px 350px 20px rgba(0,0,0,0.05)
    ,25px 30px 30px rgba(0,0,0,0.05),
    inset -20px -20px 25px rgba(255,255,255,0.9);
    transition: 1s;
    display:flex;
    justify-content:center;
    align-items: center;
    border-radius:74% 26% 66% 34% / 95% 1% 99% 5% ;
}

.container .drop:hover{
    border-radius:50%;
}

.container .drop::before{
    content:'';
    left:115px;
    top:50px;
    width:35px;
    height:35px;
    position:absolute;
    background:#fff;
    opacity:0.7;
    border-radius:50%;
    

}

.container .drop::after{
    content:'';
    left:145px;
    top:90px;
    width:20px;
    height:20px;
    position:absolute;
    background:#fff;
    opacity:0.7;
    border-radius:50%;
    

}

.container .drop .content{
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    flex-direction: column;
    padding:35px;
    gap:10rem;
    left:-35px;
}

.container .drop .content h2{
    top:0px;
    position:relative;
    right:-90px;
}

.container .drop .content form{
    gap:15px;
    position: relative;
    display:flex;
    flex-direction:column;
}

.container .drop .content  form .inputcontainer{
    position:relative;
    width:220px;
    background-color: blue;
    box-shadow:inset 20px 20px 20px rgba(0,0,0,0.05)
    ,25px 350px 20px rgba(0,0,0,0.05)
    ,25px 30px 30px rgba(0,0,0,0.05),
    inset -20px -20px 25px rgba(255,255,255,0.9);
}


.inputcontainer input{
    border:none;
    outline:none;
    background:transparent;
    width:100%;
    font-size:1.2em;
}

.container .drop .content form .inputcontainer input[type="submit"]
{
    color:chartreuse;
    background:#ff0f5d;
    text-transform:uppercase;
    font-size:1em;
    /* cursor:poiter; */
    letter-spacing:0.2em;
}
